$colorPrint: #c4b493;
$colorZazz: #bf2638;
$colorCough:#2b2424;
$colorLinseed: #786b40;
$colorContempt: #355954;
$colorPalour: #f6ecc8;

$colorRed: #ed6748;
$colorGreen: #61de4d;
$colorBlue: #4597cb;
