@font-face {
  font-family: _Moderne_Sans_;
  src: url("../../resources/fonts/ModerneSans.ttf");
}
@font-face {
  font-family: _Lane_NAR_;
  src: url("../../resources/fonts/LaneNAR.ttf");
}
@font-face {
  font-family: _Caviar_Dreams_;
  src: url("../../resources/fonts/CaviarDreams.ttf");
}
@font-face {
  font-family: _Otama_EP_;
  src: url("../../resources/fonts/OtamaEP.ttf");
}
