<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>N E W S</title>
    <link rel="stylesheet" href="../../../css/main/_main.css">
  </head>
  <body>
    <div class="header">
      <a href="admin_users.html">Users</a>
      <a href="admin_news.html">News</a>
    </div>
    <div class="content admin_news">
      <div class="blocks">
        <form class="newsForm" method="post">
          <input type="text" name="title" placeholder="Titulo *">
          <input type="text" name="description" placeholder="description *">
          <textarea name="content" rows="8" cols="80"></textarea>
          <select class="section">
            <option value="1">Deportes</option>
            <option value="2">Espectaculo</option>
            <option value="3">Politica</option>
            <option value="4">Cine</option>
          </select>
        </form>
      </div>
    </div>
    <script src="../js/dist/bundle.js"></script>
  </body>
</html>
