@font-face {
  font-family: _Swiss_721_;
  src: url("../../resources/fonts/Swiss721.ttf"); }

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: initial; }
  body#loginRegister {
    overflow: hidden;
    justify-content: flex-end;
    align-items: center; }
  body#admin {
    padding: 0;
    margin: 0;
    background-color: #e2e1e0; }
  body * {
    transition: box-shadow 0.3s ease-in-out; }
  body a {
    color: inherit; }
    body a:link {
      text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body > img[role="background"] {
    width: auto;
    height: auto;
    min-width: 100%;
    position: absolute; }

body#commercial > div.content > div.center > div.commentsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  body#commercial > div.content > div.center > div.commentsContainer > div.comment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative; }
    body#commercial > div.content > div.center > div.commentsContainer > div.comment > div.userImage {
      width: 100px;
      height: 100px;
      overflow: hidden;
      text-align: center;
      border-radius: 50%; }
      body#commercial > div.content > div.center > div.commentsContainer > div.comment > div.userImage > img {
        width: auto;
        height: auto;
        min-height: 100%;
        max-height: 100%; }
    body#commercial > div.content > div.center > div.commentsContainer > div.comment > div.square {
      position: absolute;
      background-color: white;
      width: 30px;
      height: 30px;
      left: 115px;
      top: 35px;
      border-bottom: 1px solid #252525;
      border-left: 1px solid #252525;
      transform: rotate(45deg);
      outline: none; }
    body#commercial > div.content > div.center > div.commentsContainer > div.comment > div.commentInfo {
      flex-grow: 1;
      padding: 10px 10px 10px 20px;
      outline: none;
      border: 1px solid #252525;
      margin-left: 30px; }
      body#commercial > div.content > div.center > div.commentsContainer > div.comment > div.commentInfo > h1, body#commercial > div.content > div.center > div.commentsContainer > div.comment > div.commentInfo > h2 {
        font: 15px _Swiss_721_;
        margin: 0; }
      body#commercial > div.content > div.center > div.commentsContainer > div.comment > div.commentInfo > h1 {
        color: #ed1b24;
        margin-bottom: 10px;
        font-size: 20px; }

body#commercial > div.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 50px 0 0;
  justify-content: center;
  align-content: flex-start; }
  body#commercial > div.content > div.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding-top: 10px; }
    @media (min-width: 1572px) {
      body#commercial > div.content > div.center {
        max-width: 1572px;
        min-width: 1572px; } }
    @media (min-width: 1254px) and (max-width: 1571px) {
      body#commercial > div.content > div.center {
        max-width: 1254px;
        min-width: 1254px; } }
    @media (min-width: 936px) and (max-width: 1253px) {
      body#commercial > div.content > div.center {
        max-width: 936px;
        min-width: 936px; } }
    @media (min-width: 618px) and (max-width: 935px) {
      body#commercial > div.content > div.center {
        max-width: 618px;
        min-width: 618px; } }
    @media (min-width: 300px) and (max-width: 617px) {
      body#commercial > div.content > div.center {
        max-width: 300px;
        min-width: 300px; } }

body#commercial > div[class^="header"] {
  height: 50px;
  width: 100%;
  background-color: #252525;
  display: flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
  position: fixed;
  z-index: 2; }
  body#commercial > div[class^="header"] > a {
    cursor: pointer;
    height: 100%; }
    body#commercial > div[class^="header"] > a > img {
      width: auto;
      height: auto;
      max-height: 100%; }
  body#commercial > div[class^="header"] > ul.sections {
    padding: 0 20px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 65%;
    height: 100%;
    overflow: overlay; }
    body#commercial > div[class^="header"] > ul.sections > li {
      font: 25px _Swiss_721_;
      margin-right: 30px; }
      body#commercial > div[class^="header"] > ul.sections > li > a {
        color: white; }
        body#commercial > div[class^="header"] > ul.sections > li > a:hover, body#commercial > div[class^="header"] > ul.sections > li > a:focus, body#commercial > div[class^="header"] > ul.sections > li > a:link {
          color: white; }
  body#commercial > div[class^="header"] > div.userInfo {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 130px; }
    body#commercial > div[class^="header"] > div.userInfo > div.profilePicture {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid white;
      box-sizing: border-box;
      margin-right: 5px; }
      body#commercial > div[class^="header"] > div.userInfo > div.profilePicture > img {
        width: auto;
        height: auto;
        min-height: 100%;
        max-height: 100%; }
    body#commercial > div[class^="header"] > div.userInfo > a > h1 {
      color: white;
      font: 18px _Swiss_721_;
      margin: 0; }
      body#commercial > div[class^="header"] > div.userInfo > a > h1:hover {
        text-decoration: underline; }
  body#commercial > div[class^="header"] > button {
    display: block;
    position: absolute;
    right: 10px;
    width: 115px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    outline: 0;
    font-family: _Swiss_721_;
    font-weight: bold;
    background-color: #ed1b24;
    color: white;
    box-shadow: 0 0 3px #bf2638;
    cursor: pointer; }
    body#commercial > div[class^="header"] > button:hover, body#commercial > div[class^="header"] > button:focus {
      box-shadow: 0 0 6px #bf2638; }
  body#commercial > div[class^="header"] .hidden {
    display: none !important; }

body#commercial > div.content > div.center > div.newsSection {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap; }
  body#commercial > div.content > div.center > div.newsSection > select.order {
    padding: 10px;
    font: 15px _Swiss_721_;
    box-sizing: border-box;
    border: 0;
    margin-bottom: 10px;
    box-shadow: inset 0 0 7px #786b40;
    border-radius: 3px; }
  body#commercial > div.content > div.center > div.newsSection > div.newsContainer {
    width: 100%;
    border: 1px solid #252525;
    box-shadow: 0 0 7px #786b40;
    padding: 10px; }
    body#commercial > div.content > div.center > div.newsSection > div.newsContainer > a {
      width: 100%;
      height: auto; }
      body#commercial > div.content > div.center > div.newsSection > div.newsContainer > a > div.news {
        width: 100%;
        display: flex;
        padding: 10px;
        align-items: center;
        border-bottom: 1px solid #252525;
        margin-bottom: 15px;
        box-sizing: border-box;
        cursor: pointer; }
        body#commercial > div.content > div.center > div.newsSection > div.newsContainer > a > div.news:hover {
          box-shadow: 0 0 7px #786b40; }
        body#commercial > div.content > div.center > div.newsSection > div.newsContainer > a > div.news > div.newsImage {
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: 50%;
          display: flex;
          justify-content: center; }
          body#commercial > div.content > div.center > div.newsSection > div.newsContainer > a > div.news > div.newsImage > img {
            width: auto;
            height: auto;
            min-height: 100%;
            max-height: 100%; }
        body#commercial > div.content > div.center > div.newsSection > div.newsContainer > a > div.news > div.text {
          flex-grow: 1;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding-left: 10px; }
          body#commercial > div.content > div.center > div.newsSection > div.newsContainer > a > div.news > div.text > h1, body#commercial > div.content > div.center > div.newsSection > div.newsContainer > a > div.news > div.text > h2 {
            width: 100%;
            margin: 0;
            font-family: _Swiss_721_; }

body#commercial > div.content > div.center > div.note {
  font-family: _Swiss_721_;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  body#commercial > div.content > div.center > div.note > h1, body#commercial > div.content > div.center > div.note > h2 {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    margin: 0 0 15px; }
  body#commercial > div.content > div.center > div.note > div.newsImage {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #d0d0d0;
    text-align: center; }
    body#commercial > div.content > div.center > div.note > div.newsImage > img {
      width: auto;
      height: auto;
      min-width: 100%;
      max-width: 100%; }
  body#commercial > div.content > div.center > div.note > div.newsInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #252525;
    position: relative; }
    body#commercial > div.content > div.center > div.note > div.newsInfo > div.writter {
      padding: 10px;
      display: flex;
      align-items: center; }
      body#commercial > div.content > div.center > div.note > div.newsInfo > div.writter > div.userImage {
        width: 100px;
        height: 100px;
        overflow: hidden;
        text-align: center;
        border: 2px solid #ed1b24;
        border-radius: 50%;
        box-sizing: border-box; }
        body#commercial > div.content > div.center > div.note > div.newsInfo > div.writter > div.userImage > img {
          width: auto;
          height: auto;
          min-height: 100%;
          max-height: 100%; }
      body#commercial > div.content > div.center > div.note > div.newsInfo > div.writter > label {
        padding-left: 15px;
        font-weight: bold;
        font-size: 20px; }
    body#commercial > div.content > div.center > div.note > div.newsInfo > span {
      padding-top: 10px; }
    body#commercial > div.content > div.center > div.note > div.newsInfo > i.fa {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 65px;
      opacity: 0.5; }
      body#commercial > div.content > div.center > div.note > div.newsInfo > i.fa.liked {
        color: #ed1b24; }
      body#commercial > div.content > div.center > div.note > div.newsInfo > i.fa:hover {
        opacity: 0.8; }
  body#commercial > div.content > div.center > div.note > p {
    font-size: 25px; }

body#commercial > div.content > div.center > div.title > h1 {
  font: bold 35px _Swiss_721_;
  margin: 15px 0; }

body#commercial > div.content > div.center > div.outstanding {
  width: 100%;
  overflow: overlay;
  padding: 0 50px;
  margin-bottom: 40px; }
  body#commercial > div.content > div.center > div.outstanding > button {
    visibility: hidden;
    width: 50px;
    height: 300px;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: 0;
    z-index: 1; }
    body#commercial > div.content > div.center > div.outstanding > button:hover:after {
      opacity: 0.8; }
    body#commercial > div.content > div.center > div.outstanding > button::after {
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: visible;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 0;
      background-color: #ed1b24;
      color: white;
      opacity: 0.5;
      font: 40px FontAwesome; }
    body#commercial > div.content > div.center > div.outstanding > button.slick-prev {
      left: 0;
      top: -15px; }
      body#commercial > div.content > div.center > div.outstanding > button.slick-prev::after {
        content: '\f0d9';
        padding-right: 5px; }
    body#commercial > div.content > div.center > div.outstanding > button.slick-next {
      right: 0;
      top: -15px; }
      body#commercial > div.content > div.center > div.outstanding > button.slick-next::after {
        content: '\f0da';
        padding-left: 5px; }
  body#commercial > div.content > div.center > div.outstanding > ul.slick-dots {
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    body#commercial > div.content > div.center > div.outstanding > ul.slick-dots > li {
      width: 300px; }
      body#commercial > div.content > div.center > div.outstanding > ul.slick-dots > li > button {
        width: 100%;
        background-color: #ffde16;
        color: #252525;
        border: 1px solid #252525;
        font: bold 20px _Swiss_721_; }
  body#commercial > div.content > div.center > div.outstanding > div.slick-list {
    height: 300px; }
    body#commercial > div.content > div.center > div.outstanding > div.slick-list > div.slick-track {
      height: 100%; }
      body#commercial > div.content > div.center > div.outstanding > div.slick-list > div.slick-track > a {
        height: 100%; }
        body#commercial > div.content > div.center > div.outstanding > div.slick-list > div.slick-track > a > div.news {
          height: 100%;
          padding: 10px;
          box-sizing: border-box; }
          body#commercial > div.content > div.center > div.outstanding > div.slick-list > div.slick-track > a > div.news > div.infoCard {
            background-color: #ededed;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex; }
            body#commercial > div.content > div.center > div.outstanding > div.slick-list > div.slick-track > a > div.news > div.infoCard > img {
              width: auto;
              height: auto;
              min-width: 100%;
              position: absolute; }
            body#commercial > div.content > div.center > div.outstanding > div.slick-list > div.slick-track > a > div.news > div.infoCard h1 {
              width: 100%;
              min-height: 75px;
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: flex-end;
              margin: 0;
              position: relative;
              z-index: 1;
              font: 20px _Swiss_721_;
              color: white;
              letter-spacing: 2px;
              background: linear-gradient(to bottom, transparent, #252525); }

div.formContainer {
  width: 500px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; }
  div.formContainer > div.logo {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px; }
    div.formContainer > div.logo > img {
      width: auto;
      height: auto;
      max-width: 100%;
      position: absolute; }
  div.formContainer > div.forms {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    border-radius: 3px;
    padding: 20px 25px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: rgba(20, 20, 20, 0.2); }
    div.formContainer > div.forms > div.links {
      width: 100%;
      display: flex;
      padding: 0 10px 10px;
      border-bottom: 1px solid #626262;
      margin-bottom: 10px; }
      div.formContainer > div.forms > div.links > a {
        flex-grow: 1;
        text-align: center;
        font: bold 20px _Swiss_721_;
        color: #626262; }
        div.formContainer > div.forms > div.links > a:visited, div.formContainer > div.forms > div.links > a:hover, div.formContainer > div.forms > div.links > a:focus {
          color: #626262; }
    div.formContainer > div.forms > form[id$="Form"] {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      div.formContainer > div.forms > form[id$="Form"] > input {
        display: block;
        width: 100%;
        margin: 10px 0 0;
        padding: 10px;
        box-sizing: border-box;
        border: 0;
        border-radius: 3px;
        outline: 0;
        color: #626262;
        font-family: _Swiss_721_;
        font-weight: bold;
        box-shadow: inset 0 0 0 #786b40; }
        div.formContainer > div.forms > form[id$="Form"] > input:first-child {
          margin-top: 0; }
        div.formContainer > div.forms > form[id$="Form"] > input:focus {
          box-shadow: inset 0 0 7px #786b40; }
        div.formContainer > div.forms > form[id$="Form"] > input.error {
          box-shadow: inset 0 0 7px #ed6748; }
        div.formContainer > div.forms > form[id$="Form"] > input[type="submit"] {
          width: 50%;
          background-color: #ed1b24;
          color: white;
          box-shadow: 0 0 3px #bf2638;
          cursor: pointer; }
          div.formContainer > div.forms > form[id$="Form"] > input[type="submit"]:hover, div.formContainer > div.forms > form[id$="Form"] > input[type="submit"]:focus {
            box-shadow: 0 0 6px #bf2638; }
      div.formContainer > div.forms > form[id$="Form"] > span {
        font-family: _Swiss_721_;
        font-weight: bold;
        margin: 10px 0 0;
        color: #bf2638; }
        div.formContainer > div.forms > form[id$="Form"] > span a:link {
          color: #4597cb; }
      div.formContainer > div.forms > form[id$="Form"] > label.error {
        font: 15px _Swiss_721_;
        color: #626262; }
    div.formContainer > div.forms > form#registerForm {
      display: none;
      text-align: center; }
    div.formContainer > div.forms > form#loginForm {
      text-align: center; }

body#commercial > div.content > div.profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
  position: relative;
  max-height: 400px; }
  body#commercial > div.content > div.profile > form.coverImage {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative; }
    body#commercial > div.content > div.profile > form.coverImage > label {
      width: 100%;
      height: 100%; }
      body#commercial > div.content > div.profile > form.coverImage > label > div.black {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: #d0d0d0;
        font-size: 0; }
        body#commercial > div.content > div.profile > form.coverImage > label > div.black:hover {
          font-size: 50px;
          background: radial-gradient(circle, rgba(20, 20, 20, 0.6), rgba(0, 0, 0, 0.7)); }
      body#commercial > div.content > div.profile > form.coverImage > label > img {
        width: auto;
        height: auto;
        min-width: 100%;
        max-width: 100%; }
    body#commercial > div.content > div.profile > form.coverImage > input#cover {
      display: none; }
  body#commercial > div.content > div.profile > div.down {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    transform: translateY(-50%); }
    body#commercial > div.content > div.profile > div.down > div.user {
      display: flex;
      align-items: flex-end; }
      body#commercial > div.content > div.profile > div.down > div.user > form.userImage {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        position: relative; }
        body#commercial > div.content > div.profile > div.down > div.user > form.userImage > label {
          width: 100%;
          height: 100%; }
          body#commercial > div.content > div.profile > div.down > div.user > form.userImage > label > div.black {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: #d0d0d0;
            font-size: 0; }
            body#commercial > div.content > div.profile > div.down > div.user > form.userImage > label > div.black:hover {
              font-size: 50px;
              background: radial-gradient(circle, rgba(20, 20, 20, 0.6), rgba(0, 0, 0, 0.7)); }
          body#commercial > div.content > div.profile > div.down > div.user > form.userImage > label > img {
            width: auto;
            height: auto;
            min-height: 100%;
            max-height: 100%;
            cursor: pointer; }
        body#commercial > div.content > div.profile > div.down > div.user > form.userImage > input#avatar {
          display: none; }
      body#commercial > div.content > div.profile > div.down > div.user > h1 {
        font: italic 30px _Swiss_721_; }
    body#commercial > div.content > div.profile > div.down > button#editSave {
      padding: 10px;
      width: 150px;
      background-color: #ffde16;
      display: flex;
      justify-content: center;
      font: 20px _Swiss_721_;
      color: #252525;
      border: 0; }
      body#commercial > div.content > div.profile > div.down > button#editSave:hover {
        box-shadow: inset 0 0 7px #786b40; }

body#commercial > div.content > div.center > div.section {
  border-top: 1px solid #252525;
  width: 100%; }
  body#commercial > div.content > div.center > div.section > label {
    position: absolute;
    transform: translateY(-55%);
    background-color: white;
    font: 30px _Swiss_721_; }

body#commercial > div.content > div.center > form.userInfo {
  width: 100%;
  border: 1px solid #252525;
  box-shadow: 0 0 7px #786b40;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  body#commercial > div.content > div.center > form.userInfo > h1 {
    width: 100%;
    font: italic bold 25px _Swiss_721_; }
  body#commercial > div.content > div.center > form.userInfo > div.input {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    border: 1px solid #252525;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center; }
    body#commercial > div.content > div.center > form.userInfo > div.input > h1 {
      margin: 5px;
      font: bold 20px _Swiss_721_;
      text-transform: uppercase; }
    body#commercial > div.content > div.center > form.userInfo > div.input > input {
      padding: 10px;
      border: 0;
      border-bottom: 1px solid #252525;
      width: 100%;
      box-sizing: border-box;
      font: 20px _Swiss_721_;
      display: block; }

body#commercial > div.content > div.center > div.writeSection {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  body#commercial > div.content > div.center > div.writeSection > div.userImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    margin-top: 45px; }
    body#commercial > div.content > div.center > div.writeSection > div.userImage > img {
      width: auto;
      height: auto;
      min-height: 100%;
      max-height: 100%; }
  body#commercial > div.content > div.center > div.writeSection > form.commentForm {
    flex-grow: 1;
    margin-left: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    body#commercial > div.content > div.center > div.writeSection > form.commentForm > input[name="email"], body#commercial > div.content > div.center > div.writeSection > form.commentForm > textarea[name="comment"], body#commercial > div.content > div.center > div.writeSection > form.commentForm > input[name="post"] {
      font: 20px _Swiss_721_;
      background-color: #d0d0d0;
      color: white;
      padding: 10px;
      box-sizing: border-box;
      border: 0;
      margin-bottom: 15px; }
    body#commercial > div.content > div.center > div.writeSection > form.commentForm > div.square {
      position: absolute;
      background-color: #d0d0d0;
      width: 30px;
      height: 30px;
      left: -15px;
      top: 80px;
      transform: rotate(45deg);
      outline: none; }
    body#commercial > div.content > div.center > div.writeSection > form.commentForm > textarea[name="comment"] {
      width: 100%;
      resize: none;
      padding: 10px 10px 10px 15px;
      outline: none; }
    body#commercial > div.content > div.center > div.writeSection > form.commentForm > input[name="post"] {
      background-color: #ffde16;
      color: #626262; }
      body#commercial > div.content > div.center > div.writeSection > form.commentForm > input[name="post"]:hover {
        box-shadow: inset 0 0 7px #786b40; }
    body#commercial > div.content > div.center > div.writeSection > form.commentForm .hidden {
      display: none; }
