$fail: #ed6748;
$success: #61de4d;
$link: #4597cb;

$redLight: #ed1b24;
$redHeavy: #bf2638;
$blackTransparent: rgba(20, 20, 20, 0.2);
$transparent: rgba(0,0,0,0);
$black: #252525;
$grey: #d0d0d0;
$golden: #786b40;
$yellow: #ffde16;

$fGrey: #626262;

$firstColor: #2A3F54;
$secondColor: rgb(237, 237, 237);
$thirdColor: #e2e1e0;
$modalShadow: radial-gradient(circle, rgba(20, 20, 20, 0.6), rgba(0, 0, 0, 0.7));
