div.normal{
  background-color: $colorPalour;
  align-content: flex-start;
  >div.image{
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    >img{
      width: auto;
      height: auto;
      max-height: 100%;
    }
  }
  h1.title,h2.description{
    display: block;
    max-height: 20%;
    padding: 0 5px;
    margin: 0 0 10px;
    box-sizing: border-box;
    font-family: _Moderne_Sans_;
    font-size: 20px;
    overflow: hidden;
  }
  h1.title{
    font-family: _Moderne_Sans_;
    padding-top: 5px;
    font-size: 22px;
    text-transform: uppercase;
  }
  h2.description{
    font-family: _Lane_NAR_;
    font-size: 16px;
  }
  h3.autor{
    display: block;
    max-height: 10%;
    margin: 0;
    font-family: _Caviar_Dreams_;
    font-size: 12px;
    overflow: hidden;
    padding: 0 5px;
  }
}
