div.formContainer{
  width: 100%;
  min-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  form[class$="Form"]{
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 25px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: $colorPrint;
    >input{
      display: block;
      width: 100%;
      margin: 10px 0 0;
      padding: 10px;
      box-sizing: border-box;
      border: 0;
      border-radius: 3px;
      outline: 0;
      color: black;
      font-family: _Lane_NAR_;
      font-weight: bold;
      box-shadow: inset 0 0 0 $colorLinseed;
      &:first-child{
        margin-top: 0;
      }
      &:focus{
        box-shadow: inset 0 0 7px $colorLinseed;
      }
      &.error{
        box-shadow: inset 0 0 7px $colorRed;
      }
      &[type="submit"]{
        width: 50%;
        background-color: $colorGreen;
        color: white;
        box-shadow: 0 0 3px green;
        cursor: pointer;
        &:hover, &:focus{
          box-shadow: 0 0 6px green;
        }
      }
    }
    >label{
      font-family: _Lane_NAR_;
      font-weight: bold;
      font-size: smaller;
    }
    >span{
      font-family: _Lane_NAR_;
      font-weight: bold;
      margin: 10px 0 0;
      a:link{
        color: $colorBlue;
      }
    }
  }
}
