div.visual{
  justify-content: center;
  >img{
    position: absolute;
    width: auto;
    height: auto;
    min-height: 100%;
    max-height: 100%;
  }
  div.gradient{
    width: 100%;
    height: 51%;
    display: flex;
    flex-flow: wrap;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 255),rgba(255, 255, 255, 0));
    padding: 10px;
    align-content: flex-start;
    z-index: 1;
    >h1.title,>h3.autor{
      display: block;
      width: 100%;
      margin: 0;
      color: $colorPalour;
      a{
        color: inherit;
      }
    }
    >h1.title{
      max-height: 85%;
      font-size: 22px;
      font-family: _Moderne_Sans_;
      overflow: hidden;
      text-transform: uppercase;
    }
    >h3.autor{
      max-height: 15%;
      font-size: 18px;
      font-family: _Caviar_Dreams_;
    }
  }
  div.sphere{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    display: flex;
    flex: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
    &:hover{
      opacity: 0.8;
    }
    >span.fa{
      font-size: 30px;
      display: inline-block;
    }
  }
}
