@font-face {
  font-family: _Caviar_Dreams_;
  src: url("../../resources/fonts/CaviarDreams.ttf");
}
@font-face {
  font-family: _Lane_NAR_;
  src: url("../../resources/fonts/LaneNAR.ttf");
}
@font-face {
  font-family: _Moderne_Sans_;
  src: url("../../resources/fonts/ModerneSans.ttf");
}
@font-face {
  font-family: _Linotte_;
  src: url("../../resources/fonts/Linotte.otf");
}
@font-face {
  font-family: _Panton_Light_;
  src: url("../../resources/fonts/PantonLight.otf");
}
@font-face {
  font-family: _Reef_;
  src: url("../../resources/fonts/Reef.otf");
}

@font-face {
  font-family: _Swiss_721_;
  src: url("../../resources/fonts/Swiss721.ttf");
}
