body#commercial>div[class^="header"]{
  height: 50px;
  width: 100%;
  background-color: $black;
  display: flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
  position: fixed;
  z-index: 2;
  >img{
    width: auto;
    height: auto;
    max-height: 100%;
  }
  >ul.sections{
    padding: 0 20px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 65%;
    height: 100%;
    overflow: overlay;
    >li{
      font: 25px _Swiss_721_;
      margin-right: 30px;
      >a{
        color: white;
        &:hover,&:focus,&:link{
          color: white;
        }
      }
    }
  }
  >div.userInfo{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 10px;
    >div.profilePicture{
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid white;
      box-sizing: border-box;
      margin-right: 5px;
      >img{
        width: auto;
        height: auto;
        min-height: 100%;
        max-height: 100%;
      }
    }
    >h1{
      color: white;
      font: 18px _Swiss_721_;
      margin: 0;
    }
  }
}
